@import "~antd/dist/antd.css";
.ant-layout {
  height: 100vh;
}
.searchButton > span {
  width: 30%;
  margin: 0 8px 8px 0;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  text-align: center;
}

.ant-layout {
  background: #ffffff;
}

.ant-menu-horizontal {
  line-height: 65px;
}

.menu-item-group {
  float: right;
}

.site-layout-content {
  height: 100%;
}

.ant-card-bordered {
  border: 0px !important;
}

.site-page-header {
  text-align: center !important;
  background-color: #fafafa;
  width: 100vw;
}

.site-page-header > h1 {
  font-size: 40px;
  margin-top: 0.5%;
  letter-spacing: 0.2em;
}

.header-img {
  width: 100%;
  height: auto;
}

.ant-layout-footer {
  background-color: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 14px;
}

.title {
  margin: 4vh 0px 4vh 0px;
}
